.comment-list {
  position: relative;
}
.comment-list .comment-item {
  margin-top: 0;
  position: relative;
}
.comment-list .comment-item > .thumb-sm {
  width: 36px;
}
.comment-list .comment-item .arrow.left {
  top: 20px;
  left: 39px;
}
.comment-list .comment-item .comment-body {
  margin-left: 46px;
}
.comment-list .comment-item .panel-body {
  padding: 10px 15px;
}
.comment-list .comment-item .panel-heading,
.comment-list .comment-item .panel-footer {
  position: relative;
  font-size: 12px;
  background-color: #fff;
}
.comment-list .comment-reply {
  margin-left: 46px;
}
.comment-list:before {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 18px;
  width: 1px;
  background: #e0e4e8;
  content: '';
}