<div ng-controller="GenreWriteCtrl">
<ul class="centre-horizontal list-inline">
    <li><strong>Genre</strong></li>
    <li>
    <select class="form-control" ng-mode="genre">
    <option ng-repeat="genre in genres">{{ genre }}</option>
    </select>
    </li>
    <li><strong>Type</strong></li>

    <li>
    <select class="form-control" ng-mode="type">
        <option ng-repeat="type in types">{{ type }}</option>
    </select>
    </li>
    <li>
    <button class="btn btn-line-primary">Find</button>
    </li>

</ul>


    <div >
        <ul class="list-inline list-unstyled centre-horizontal">

            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="success" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>

            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>

            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>

            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Depraved insight" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>
            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Scene Craft" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>

            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="Unraveled" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>
            <li>
                <div tooltip="Description" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="I heart crits" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>
            <li>
                <div tooltip="Description is a Dynamic ekhdhjk" tooltip-placement="bottom">
                    <ui-group url="images/g1.jpg" name="It's a start" color="primary" tooltip="Tags Khhnnhj"></ui-group>
                </div>
            </li>
        </ul>

    </div>
</div>