<div class="page page-dashboard" ng-controller="NewsListCtrl">
    <ol class="breadcrumb-alt">
        <li><a href="#/dashboard">News</a></li>
        <li ><a class="active" href="" style="text-transform: uppercase">{{ newsType }}</a></li>
        <li>
            <i style="margin-top: 5px" class="fa fa-arrow-right fa-2x"></i>
        </li>
        <li>
            <span style="font-size: 28px"><strong style="margin-top: 10px">{{ currentNews.title }}</strong></span>
        </li>
    </ol>
<section class="col-md-4">
    <section class="content-list">
     <section>
        <ol class="posts-list">

            <li ui-sref-active="active"  ng-repeat="post in news" ng-click="newsClick(post)">
                <a
                    ui-sref=".single({ title: post.slug })">
                <h3 class="entry-title">{{ post.title }}</h3>
                <section class="entry-meta">
            <span class="status">
           <time datetime="{{ post.created_at }}" class="date published">
                Published <span am-time-ago="post.created_at"></span>
           </time>
            </span>
                </section>
            </a></li>



        </ol>
    </section>
</section>

 </section>

  <section class="col-md-8">
      <div data-ui-view></div>
  </section>
 </div>