<div >
    <ul class="list-inline list-unstyled centre-horizontal">

        <li>
                <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>

        <li>
            <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>

        <li>
            <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>

        <li>
            <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>

        <li>
            <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>

        <li>
            <ui-member url="images/g1.jpg" size="120" name="Ikem Okonkwo" color="success" tooltip="ikem Okonkwo"></ui-member>
        </li>


    </ul>

</div>