<div class="panel panel-default" ng-controller="FeaturedBookCtrl" style="margin-bottom: 300px; margin-left: 30px">
    <div class="panel-body">
<ul class="list-inline list-unstyled centre-horizontal">

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><a href="" ng-click="bookClick()">
        <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive" >
    </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}" >
        <a href="" ng-click="bookClick()">
        <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive">
    </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><a href="" ng-click="bookClick()">
        <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive">
    </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><a href="" ng-click="bookClick()">
        <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive" >
    </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}" >
        <a href="" ng-click="bookClick()">
            <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive">
        </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><a href="" ng-click="bookClick()">
        <img style="height: 220px; width: 150px" src="images/book.jpg" alt="" class="img-responsive">
    </a>
    </li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

    <li popover-placement="bottom" popover-html-unsafe="{{ content }}"><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

</ul>
    </div>
</div>