<div class="panel panel-default">
    <div class="panel-body">
        <ul class="list-inline list-unstyled centre-horizontal">

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

            <li><ui-book url="images/book.jpg"  author="Jk Rowlings"  title="Harry Potter 6"></ui-book></li>

        </ul>
    </div>
</div>