<div style="margin-top: 5px" class="panel panel-default">
    <div class="panel-body">

        <div class="row" style="padding: 20px">
            <h2><b>Twilight (2005)</b></h2>
            <h4>By: Author</h4>
            <br>
            <h3><strong>Description</strong></h3>
            <hr>
            <p>
                When Bella's mother remarries she grudgingly decides to go live with her father in the sunless, perpetually rainy city of Forks, Washington. It's the middle of the semester at a new school and the most she can hope for is to blend in. Then she sees the mysterious Edward Cullen. He's handsome, intriguing and he happens to be a vampire. Despite the risk to her life, Bella and Eward are drawn together and their relationship quickly heats up. His family invites Bella into their lives, but when a clan of nomadic vampires takes an interest in Bella, the consequences could be deadly.
            </p>
            <h3><strong>Summary</strong></h3>
            <hr>
            <p>
            When the plain, introverted, clutzy Bella Swan moves from Phoenix, Arizona to the remote, wet town of Forks, Washington, she's only doing it to go live with her single dad, town sheriff Charlie. But when she arrives at the local high school, she finds herself immediately drawn to the spectacularly beautiful yet remote Edward Cullen, with his color-changing eyes and mysterious absences on sunny days. Though she doesn't realize it yet, Edward is extremely drawn to her as well, but for reasons that Bella doesn't yet know and couldn't understand. His reaction to this attraction is to completely, utterly ignore her, acting like she repulses him. Despite other students' obvious interest in her, Bella is completely frustrated by - and obsessed with - Edward's reaction to her.
            But after rescuing her from catastrophic injury in a rather supernatural fashion, Edward's relationship to Bella changes and grows. Bella is determined to find out how Edward intervened so quickly and kept a van from flattening her. She decides to investigate Edward's origins. Her childhood friend, Jacob Black, tells her an old legend about the Quileute Indians and their relationship with the "cold ones" - vampires. Jacob doesn't believe the legend, but Bella thinks she might finally know what Edward is.
            After confronting Edward with her belief that he is, in fact, a vampire, Edward confirms her suspicions and tells her the truth about vampires: they sparkle in the sun, they can be out anytime they want. The venom from their bite is what makes another vampire. They can travel extremely quickly on foot (a ride on Edward's back and Bella's subsequent nausea confirms this); they hunt. But Edward's family is different: they don't hunt humans, only animals. And that's why Edward had avoided Bella when she arrived: she was too tempting.
            Edward tries to convince Bella she should want nothing to do with him, but they fall deeply in love nonetheless. Their relationship is rocked when another vampire coven - one that feeds on humans - arrives in Forks, with James, the lead vampire and a tracker, deciding he wants nothing more than Bella's blood for himself. He'll do anything he can to track her down and kill her, even when Edward's family go to extreme lengths to hide and protect her.
            But James and Bella finally do come face-to-face, despite the Cullens' best efforts. Though Edward swoops in at the last second to save her, Bella is not without serious injury, including a snapped leg and a vampire bite on her hand. Edward and James fight, and while Edward's family arrives to finish off James, Edward and Carlisle must act quickly to save Bella from the vampire venom that's already starting its course through her body. To save her, Edward sucks the venom out, and Bella wakes up in next in the hospital with her mom and Edward by her side. (The "official story" is that Bella, perpetual clutz that she is, fell down some stairs and out a window.)
            The plot ends with Bella and Edward at their high school prom, in love and feeling relatively safe together - for now
            </p>
        </div>

    </div>
</div>
