<div class="list-inline centre-horizontal">
    <button type="button"
            class="btn btn-line-primary"
            style="margin-bottom: 10px; margin-right: 10px"
            >all groups</button>
    <button type="button"
            class="btn btn-line-primary"
            style="margin-bottom: 10px; margin-right: 10px"
            >groups i joined</button>
    <button type="button"
            class="btn btn-line-primary"
            style="margin-bottom: 10px; margin-right: 10px"
            >groups i own</button>
</div>
<div >
    <ul class="list-inline list-unstyled centre-horizontal">

        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="success" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>

        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>

        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Ikem Okonkwo" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>

        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Depraved insight" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>
        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Scene Craft" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>

        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="Unraveled" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>
        <li>
            <div tooltip="Description" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="I heart crits" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>
        <li>
            <div tooltip="Description is a Dynamic ekhdhjk" tooltip-placement="bottom">
                <ui-group url="images/g1.jpg" name="It's a start" color="primary" tooltip="Tags Khhnnhj"></ui-group>
            </div>
        </li>
    </ul>

</div>